.container {
    min-height: 100vh;
}

.header{
    width: 100%;
    height: 44px;
    background-color: black;
}

.header img{
    margin-left: 32px;
}

.header d-tabs {
    position: relative;
    display: inline-block;
    margin-left: 75px;
}

:host ::ng-deep .header .nav-tabs a, 
:host ::ng-deep .header .nav-tabs li, 
:host ::ng-deep .header .nav-tabs li.active {
    color: red;
    border-bottom-color: red;
}

.welcome {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    line-height: 20px;
    color: white;
}

.menuAccordion {
    float: left;
    width: 200px;
    height: 500px;
    background: white;
}

.menu {
    width: 200px;
  }

.option {
    line-height: 20px;
    vertical-align: middle;
    margin-top: 20px;
    }

.option > d-toggle {
    display: inline-block;
    transform: translateY(3px);
    }

@media (max-width: 250px) {
    .menu {
      width: 80%;
    }
}

.content {
    float: left;
    width: calc(100% - 240px);
    height: 500px;
    margin: 10px 20px;
    padding: 10px 20px;
    background: powderblue;
}

.p {
    font-weight: normal;
}

.top-bar {
    height: 50px;
}

d-search {
    float: left;
    width: 280px;
}

.right {
    float: right;
    height: 30px;
}

.icon {
    display: inline;
    margin-right: 10px;
    position: relative;
    top: 3px;
    margin: 0px 5px 0 10px;
    line-height: 14px;
}

.pagination {
    float: right;
}

d-button {
    margin-right: 5px;
}
/* 配置中的每一项，自定义项建议应用此样式或在此基础上修改 */
.pagination-config-item {
    padding-bottom: 8px;
    padding-top: 5px;
    border-bottom: 1px solid #dedede;
}

/* 配置中每一项的标题样式，自定义项建议应用此样式或在此基础上修改 */
.config-item-title {
    color: #888;
    padding-left: 10px;
    font-size: 12px;
    line-height: 22px;
}

.config-item-words {
    color: #293040;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 4px;
}

.config-item-words:hover {
    background-color: #f3f7fe;
    cursor: pointer;
}
